.single-car-line{
    width: 100%;
    height: 40px;
}
.single-car{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.car-name{
    margin-left: 10px;
}
.car-photo{
    margin-right: 10px;
}